build/
*.root
*.tbz2
*.tgz
*.pdf
*.png
*~
logs/
jupyter_env
.history
Doc
Inputs/Atmospherics/CAFs
nohup.out
output*.txt

Inputs/DUNE_CAF_files
Inputs/DUNE_ND_CAF_files
Inputs/DUNE_ND_spline_files
Inputs/DUNE_spline_files
